---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

const publications = (await getCollection("publications")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const top3 = publications.slice(0, 3);
---

<section class="flex flex-col items-center text-center gap-4">
  <p class="text-pblack">Selected publications</p>
  <h2 class="text-4xl font-bold">What I do</h2>

  <ul class="w-full max-w-[940px] mx-auto flex flex-col gap-6 py-12">
    {top3.map((p) => (
      <li class="group text-left rounded-3xl border-1 border-black shadow-card hover:shadow-hover transition px-6 py-6">
        <a
          href={`/publications/${p.id}/`}
          aria-label={p.data.title}
          class="block"
        >
          <h3 class="text-xl font-semibold">{p.data.title}</h3>

          <div class="mt-2 flex flex-wrap items-center gap-x-4 gap-y-1 text-sm">
            <span class="font-medium">{p.data.venue}</span>
            <span class="opacity-60">•</span>
            <span class="font-light">
              <FormattedDate date={p.data.pubDate} />
            </span>
          </div>
        </a>
      </li>
    ))}
  </ul>

  <a
    href="/publications/"
    class="inline-flex items-center justify-center rounded-2xl border-1 border-black px-6 py-3 shadow-card hover:shadow-hover transition"
  >
    See all
  </a>
</section>
