---
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

const bgClasses = [
  "bg-pgreen rounded-full",
  "bg-pblue rounded-2xl",
  "bg-ppink ",
  "bg-pyellow rounded-md",
];

const getRandomClass = () => {
  return bgClasses[Math.floor(Math.random() * bgClasses.length)];
};
---

<section class="flex flex-col items-center text-center gap-4">
  <p class="text-pblack">It is necessary to observe.</p>
  <h2 class="text-4xl font-bold">Treated like a portrait.</h2>
  <ul
    class="flex flex-wrap max-w-[940px] mx-auto justify-center md:justify-start gap-8 py-20 "
  >
    {
      posts.map((post) => {
        const randomClass = getRandomClass();
        return (
          <li class="w-72 text-left rounded-3xl border-1 border-black shadow-card group hover:shadow-hover transition  px-4 py-6 flex flex-col gap-6">
            <a aria-label={post.data.title} href={`/blog/${post.id}/`} class="flex flex-col gap-4">
              <h2 class="text-xl font-semibold">{post.data.title}</h2>
              <p class="date -mt-4 text-sm font-light">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
            <div set:html={post.data.description} />
          </li>
        );
      })
    }
  </ul>
</section>
