---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const {
  title = "",
  description,
  pubDate,
  updatedDate,
  heroImage = "/fran.webp",
  icon,
  tags,
} = Astro.props;
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const bgClasses = [
  "hover:shadow-ppinkHover",
  "hover:shadow-pgreenHover",
  "hover:shadow-pblueHover",
  "hover:shadow-pyellow",

];
import type { ImageMetadata } from 'astro';
import { Picture } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{webp,jpeg,jpg,png,gif}')
if (!images[heroImage]) throw new Error(`"${heroImage}" does not exist in glob: "src/assets/*.{webp,jpeg,jpg,png,gif}"`);

const getRandomClass = () => {
  return bgClasses[Math.floor(Math.random() * bgClasses.length)];
};
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto md:px-10 text-white">
      <article >
        <div class="relative mb-20" transition:animate="fade">
          <span class="bg-black/25 w-full h-full absolute"></span>
          <div class="absolute bottom-10 md:left-20 left-6">
            <h1 class="text-4xl md:text-9xl font-semibold text-shadow">
              <span class="font-kablamo text-ppink">{title.charAt(0)}</span>{
                title.slice(1)
              }
            </h1>
            <p  set:html={description} />
          </div>
          <Picture 
            fetchpriority="high"
          loading="eager" src={images[heroImage]()}  alt={title} class="h-96 w-full object-cover"   format="webp"
            sizes="(max-width: 901px) 100vw, 1000px"
            widths={[480, 700, 901]}/>
        </div>
        <div class="text-black px-6 md:px-0">
          <div class="">
            <div class="text-sm text-pblack flex items-center justify-between">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
              <Icon name={icon} class="text-5xl" transition:animate="fade" />
            </div>

            <hr />
          </div>
          <div class="flex justify-between py-10 md:flex-row flex-col">
            <div class="prose md:w-1/2 flex flex-col gap-6">
              <slot />
            </div>
            <div class="flex flex-col gap-6" transition:animate="slide">
              <ul class="flex flex-col gap-2 pt-10 md:pt-0 items-start md:items-end">
                <p class="md:hidden font-semibold">Related:</p>
                {
                  posts.map((post) => {
                    return (
                      <li class=`text-left rounded-lg border-1 border-black shadow-card group hover:shadow-hover transition  px-2 py-2 ${getRandomClass()}` >
                        <a
                          href={`/blog/${post.id}/`}
                          aria-label={post.data.title}
                        >
                          <h4 >{post.data.title}</h4>
                        </a>
                      </li>
                    );
                  })
                }
              </ul>
              <hr />
              <p>Written by</p>
              <div class="flex -mt-4 gap-2">
                  <div class="bg-pgreen rounded-full w-12 h-12 aspect-square object-contain overflow-hidden ">
                    <Picture src={images["/src/assets/hero.webp"]()} alt="Fran"  format="webp"
            sizes="(max-width: 84px) 100vw, 101px"
            widths={[84, 101]}/>/>
                  </div>
                  <div>
                  <h3>Joaquín Sorolla</h3>
                  <p class="text-pblack">UX UI designer based<br>in Steve Jobs</p>
                </div>
              </div>
              <hr/>
              <div>
                <p>Contributors:</p>
                <div class="flex items-center gap-6 text-xl">
                  <a
                    href="https://jramma.com"
                    target="_blank"
                    class="py-1 pl-3 rounded-md border-1 border-black bg-ppink shadow-card hover:shadow-hover transition"
                    aria-label="Personal Website"
                  >
                    <Icon name="web" />
                  </a>
                  <a
                    href="https://github.com/jramma"
                    target="_blank"
                    class="border-1 p-1 border-black rounded-full bg-pblue shadow-card hover:shadow-hover transition"
                    aria-label="GitHub Profile"
                    >
                    <Icon name="github" />
                  </a>
                  <a
                    href="https://www.linkedin.com/in/jramma/"
                    target="_blank"
                    class="border-1 p-1 border-black rounded-full bg-pgreen shadow-card hover:shadow-hover transition"
                    aria-label="LinkedIn Profile"
                  >
                    <Icon name="linkedin" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
